@import "tailwindcss";

@theme {
  --color-primary: #162531;
  --color-primary-light: #1e3347;
  --color-primary-dark: #0f1a24;
  --color-accent: #9af376;
  --color-accent-hover: #7fdb5e;
  --color-accent-light: #b8f79e;
  --color-accent-dark: #5cbf34;
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
